*{
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family:'poppins regular';
    scroll-behavior: smooth;
}

/* Main Navigation Bar */
header{
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 90px;
    transition: all 1s;
}

header.sticky{
    background-color: #16166b;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.459);
}

.main_logo{
    position: absolute;
    padding: 1% 5%;
    z-index: 1;
}

.main_nav{
    display: grid;
    grid-template-columns: 6fr 2fr;
    position: absolute;
    padding: 2% 8%;
    z-index: 1;

    @media(max-width:720px){
        display: none;
    }
}

.main_nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    gap: 5%;
}


.main_nav{
    ul{
        li{
            a{
                color: #848486;
                font-size: 15px;
                transition: 0.5s ease-in-out;
            }
        }
    }
}

.main_nav{
    ul{
        li{
            a:hover{
                color: white;
            }
        }
    }
}

.main_nav{
    ul{
        li{
            .active_nav{
                color: white;
            }
        }
    }
}

/* DropDown Menu on Nav */
.dropdown-content{
    background: #16166b;
    backdrop-filter: blur(10px);
    display: none;
    position: absolute;
    min-width: 200px;
    right: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;

    @media(max-width:1230px){
        right: 8%;
    }

    @media(max-width:1125px){
        right: 6%;
    }

    @media(max-width:1050px){
        right: 4%;
    }

    @media(max-width:750px){
        min-width: 150px;
        right: 3%;
    }

    a{
        padding: 12px 10px;
    }
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.menu_down{
    margin-left: 60%;
    li{
        padding-top: 10px;
    }
}

/* Off Screen Menu */
.offScreenMenu{
    background-color:  #16166b;
    height: 100vh;
    width: 50%;
    z-index: 20;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 15px;
    transition: .3s ease;

    @media(max-width:420px){
        width: 70%;
    }

    @media(max-width:300px){
        width: 100%;
    }
}
.offScreenMenu.active {
    right: 0;
}

.offScreenMenu{
    li{
        list-style: none;
        .active_nav{
            color: white;
        }

        a{
            text-decoration: none;
            color: #848486;
            transition: 0.5s ease-in-out;
        }
    }
}

.offScreenMenu li a:hover{
    color: white;
}

 
/* Ham Menu */
.ham_menu {
    cursor: pointer;
    height: 40px;
    width: 35px;
    margin-left: 90%;
    margin-top: 5%;
    position: absolute;
    display: none;

    @media(max-width:720px){
        display: flex;
        z-index: 20;
    }

    @media(max-width:520px){
        margin-left: 85%;
    }

    @media(max-width:420px){
        margin-left: 80%;
    }
}

.ham_menu span {
    height: 3.5px;
    width: 85%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham_menu:hover span:nth-child(1){
    width: 60%;
}

.ham_menu:hover span:nth-child(3){
    width: 60%;
}

.ham_menu span:nth-child(1) {
    top: 25%;
}

.ham_menu span:nth-child(3) {
    top: 75%;
}

.ham_menu.active span {
    background-color: white;
}

.ham_menu.active span:nth-child(1) {
    top: 10%;
    width: 30px;
    left: 93%;
    position: fixed;
    transform: translate(-50%, -50%) rotate(45deg);

    @media(max-width:520px){
        top: 8%;
        left: 88%;
    }

    @media(max-width:420px){
        top: 7%;
        left: 85%;
    }
}

.ham_menu.active span:nth-child(2) {
    opacity: 0;
}

.ham_menu.active span:nth-child(3) {
    top: 10%;
    left: 93%;
    width: 30px;
    position: fixed;
    transform: translate(-50%, -50%) rotate(-45deg);
    
    @media(max-width:520px){
        top: 8%;
        left: 88%;
    }

    @media(max-width:420px){
        top: 7%;
        left: 85%;
    }
}


/* Hero Section */
#hero_section{
    width: 100%;
    height: 100vh;
}


.background_image{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/hero.jpg);
    background-position: center;
    background-size: cover;
}

.overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.452);
    position: relative;
    display: flex;
    align-items: center;
}

.theme{
    position: absolute;
    padding: 0% 0% 0 6%;
    width: 50%;

    @media(max-width:650px){
        width: 90%;
    }

    @media(max-width:520px){
        width: 80%;
    }

    @media(max-width:260px){
        width: 90%;
    }

    @media(max-width:225px){
        padding-top: 4%;
    }

    h2{
        color: white;
        transition: 1.5s;
        transform-origin: left;
        transform: scaleX(1);
        font-weight: 500;

        @media(max-width:380px){
            font-size: 18px;
        }
    }

    p{
        color: white;
        padding-top: 5%;
        

        @media(max-width:800px){
            padding-top: 15%;
        }

        @media(max-width:380px){
            font-size: 15px;
        }

        @media(max-width:225px){
            padding-top: 10%;
        }
    }
}

.home_learn_more{
    margin-top: 2%;
    width: fit-content;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
    transition: 0.5s;

    &:hover{
        background-color: #16166b;
        color: white;
        border: 2px solid #16166b;
      }
}

.gt_head_home{
    font-weight: 100;
    font-size: 35px;
}

/* Meet Our Pastor */
#our_pastor{
    padding: 3% 6% 0 6%;
    background-color: #16166b;

    @media(max-width:550px){
        padding: 3% 6% 5% 6%;
    }

    @media(max-width:350px){
        padding: 3% 6% 8% 6%;
    }
}

.our_pastor_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    padding: 2% 0 8% 0;

    @media(max-width:550px){
        grid-template-columns: 1fr;
    }
}

.pastor{
    display: flex;
    justify-content: center;
}

.hello{
    h2{
        font-weight: 500;
        font-size: 40px;
        color: white;

        @media(max-width:550px){
            font-size: 30px;
            text-align: center;
        }
    }
}

.card{
    width: 250px;
    height: 400px;
    border-radius: 25px;
    background-color: white;
    padding: 6% 6%;

    @media(max-width:680px){
        width: 200px;
        height: 350px;
    }

    @media(max-width:550px){
        width: 200px;
        height: 300px;
    }
}

.card_head{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    h4{
        color: #16166b;
    }
}

.potrait{
    border-radius: 25px;
    width: 100%;
    height: 300px;
    background-image: url(../assets/images/Pastor_Mucheka.jpg);
    background-position: center;
    background-size: cover;

    @media(max-width:680px){
        height: 250px;
    }

    @media(max-width:550px){
        height: 200px;
    }
}

.card_body{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    h4{
        color: #16166b;
    }
}

/* About Section */
#about_hero_section{
    width: 100%;
    height: 100vh;
}


.about_background_image{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/hero.jpg);
    background-position: center;
    background-size: cover;
}

.about_overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.452);
    position: relative;
    display: flex;
    align-items: center;
}

.about_theme{
    position: absolute;
    padding: 0% 0% 0 6%;
    width: 50%;

    @media(max-width:650px){
        width: 90%;
    }

    @media(max-width:520px){
        width: 80%;
    }

    @media(max-width:260px){
        width: 90%;
    }

    .about_gt{
        color: white;
        transition: 1.5s;
        transform-origin: left;
        transform: scaleX(1);
        font-weight: 500;

        @media(max-width:380px){
            font-size: 18px;
        }
    }

    p{
        color: white;
        padding-top: 5%;
        

        @media(max-width:800px){
            padding-top: 20%;
        }

        @media(max-width:380px){
            font-size: 15px;
        }
    }
}

.history{
    font-weight: 500;
    font-size: 35px;
}

.mission{
    color: white;
    font-weight: 500;
    padding-top: 5%;

    @media(max-width:380px){
        font-size: 18px;
    }
}

#about_glad_tidings{
    max-width: 100%;
    padding: 3% 6% 3% 6%;
}

.gt_head{
    padding-bottom: 2%;

    h2{
        @media(max-width:400px){
            font-size: 20px;
        }
    }
}


.learn_more{
    margin-top: 2%;
    width: fit-content;
    background-color: transparent;
    color: black;
    border: 2px solid #16166b;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
    transition: 0.5s;

    &:hover{
        background-color: #16166b;
        color: white;
      }
}

.more{
    margin-left: 2%;
}

.DIA{
    padding: 2% 0 2% 0;

    h2{
        font-weight: 500;

        @media(max-width:400px){
            font-size: 20px;
        }
    }
}

.DIA_container{
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media(max-width:950px){
        grid-template-columns: 1fr;
    }
}

.DIA_par p{
    margin-right: 2%;

    @media(max-width:720px){
        margin-right: 0;
    }
}

.DIA_img{
    width: 100%;
    height: 450px;

    @media(max-width:950px){
        margin-top: 2%;
    }

    img{
        border-radius: 10px;
        width:600px;

        @media(max-width:1100px){
            width: 500px;
        }

        @media(max-width:950px){
            width: 800px;
        }
    }
}

.about_GT_southlands{
    padding: 3% 0 3% 0;
}

.GT_southlands_head{
    padding-top: 2%;
    padding-bottom: 3%;

    h2{
        font-weight: 500;
        @media(max-width:400px){
            font-size: 20px;
        }
    }
}

.GT_southlands_content{
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media(max-width:950px){
        grid-template-columns: 1fr;
    }
}

.GT_image{
    width: 100%;
    height: 350px;
    background-image: url(../assets/images/ladies.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.GT_content p{
    margin-left: 2%;

    @media(max-width:950px){
        margin-top: 2%;
        margin-left: 0;
    }
}

/* Weekly Programs */
.weekly_programs{
    padding: 0 0 3% 0;
}


.programs_head{
    padding: 0 0 3% 6%;

    h2{
        font-weight: 500;
        @media(max-width:400px){
            font-size: 20px;
        }
    }
}

.programs_content{
    max-width: 100%;
    height: 400px;
    background-color: #16166b;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media(max-width:670px){
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width:480px){
        grid-template-columns: 1fr;
        gap: 3%;
        height: 600px;
    }
}

.programs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h4{
        font-weight: 200;
        padding-top: 2%;
    }

    p{
        padding-top: 2%;
    }

    button {
        margin-top: 8%;
        width: fit-content;
        background-color: rgba(0,0,0,0.1);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
        transition: 0.5s;

        &:hover{
            background-color: white;
            color: black;
          }
      }
}

.thursday{
    @media(max-width:670px){
        width: 200%;
    }

    @media(max-width:480px){
        width: 100%;
    }
}

/* Ministries */
.ministries_head{
    padding: 3% 0 3% 6%;

    h2{
        font-weight: 500;

        @media(max-width:400px){
            font-size: 20px;
        }
    }
}


/* Slider */

main {
    position: relative;
    max-width: 100%;
    height: 500px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);

    @media(max-width:670px){
        height: 350px;
    }

    @media(max-width:480px){
        height: 250px;
    }
  }

.overlay_slider{
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.459);
    position: relative;

    @media(max-width:670px){
        height: 350px;
    }

    @media(max-width:480px){
        height: 250px;
    }
  }
  
  .item {
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  
    &:nth-child(1), &:nth-child(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
    }
  }
  
  .content {
    width: min(30vw,400px);
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica,sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;

    @media(max-width:480px){
        width: 70vw;
        top: 40%;
    }

    @media(max-width:290px){
        width: 90vw;
    }
  
    & .title {
      text-transform: uppercase;
    }
  
    & .description {
      line-height: 1.7;
      margin: 1rem 0 1.5rem;
      font-size: 0.8rem;

      @media(max-width:240px){
        margin: 1rem 0 .5rem;
    }

    @media(max-width:240px){
        margin: 0.4rem 0 0.5rem;
    }
    }
  
    & button {
      width: fit-content;
      background-color: rgba(0,0,0,0.1);
      color: white;
      border: 2px solid white;
      border-radius: 0.25rem;
      padding: 0.75rem;
      cursor: pointer;
      transition: 0.5s;

      @media(max-width:240px){
        padding: 0.4rem;
    }

      &:hover{
        background-color: white;
        color: black;
      }
    }
  }
  
  .item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
  }
  
  @keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  
  .nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;

    @media(max-width:340px){
        bottom: 3%;
    }
  
    & .btn {
      background-color: rgba(255, 255, 255, 0.815);
      color: #16166b;
      margin: 0 0.25rem;
      padding: 0.75rem;
      width: 10px;
      height: 10px;
      border-radius: 5000px;
      cursor: pointer;
  
      &:hover {
        border: 2px solid #0d0d3b;
      }
    }
  }
  
  @media (width > 650px) and (width < 900px) {
    .content {
      & .title        { font-size: 1rem; }
      & .description  { font-size: 0.7rem; }
      & button        { font-size: 0.7rem; }
    }
  }
  
  @media (width < 650px) {
    .content {
      & .title        { font-size: 0.9rem; }
      & .description  { font-size: 0.65rem; }
      & button        { font-size: 0.7rem; }
    }
  }

/* Contact */
#contact_hero_section{
    width: 100%;
    height: 100vh;
}


.contact_background_image{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/hero.jpg);
    background-position: center;
    background-size: cover;
}

.contact_overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.452);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_theme{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
    background-color: #16166b;
    width: 80%;
    height: 70vh;
    border-radius: 20px;
    padding: 0% 3%;
    align-items: center;

    @media(max-width:640px){
        grid-template-columns: 1fr;
        align-items: flex-start;
    }

    @media(max-width:305px){
        width: 85%;
    }
}

.phone{
    h3{
        color: white;
        font-weight: 400;
        padding-top: 2%;

        @media(max-width:840px){
            font-size: 14px;
        }

        @media(max-width:340px){
            font-size: 12px;
        }
    }
}

.sub_phone{

    h4{
        color: white;
        font-weight: 400;
        margin: 0 0 0 3%;

        @media(max-width:840px){
            font-size: 14px;
        }

        @media(max-width:340px){
            font-size: 12px;
        }
    }
}

.address{
    h3{
        color: white;
        font-weight: 400;
        padding-top: 2%;

        @media(max-width:840px){
            font-size: 14px;
        }

        @media(max-width:340px){
            font-size: 12px;
        }
    }
}

.sub_address{

    h4{
        color: white;
        font-weight: 400;
        margin: 0 0 0 3%;

        @media(max-width:840px){
            font-size: 14px;
        }

        @media(max-width:340px){
            font-size: 12px;
        }
    }
}

.number{
    display: flex;
    align-items: center;
    padding: 0 5%;

    i{
        margin-top: 1%;
        font-size: 20px;
    }

    p{
        color: white;
        margin-left: 1%;

        @media(max-width:840px){
            font-size: 14px;
        }

        @media(max-width:340px){
            font-size: 12px;
        }
    }
}

/* Contact Form */
#contact_form{
    width: 100%;
    height: 80vh;
}

.input_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    background-color: #16166b;
    border-radius: 20px;

}

.input_contact{
    color: #FFffff;
    border: none;
    width: 100%;
    height: 50px;
    margin-top: 8px;
    padding-left: 3%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    outline: transparent;
}

.input_textarea{
    color: #FFffff;
    width: 100%;
    margin-top: 8px;
    padding-left: 3%;
    padding-top: 3%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    outline: transparent;
}

.contact_submit{
    margin-top: 2%;
    width: fit-content;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
    transition: 0.5s;

    &:hover{
        background-color: white;
        color: #16166b;
      }
}





  /* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16166b;
    color: white;
    height: 80px;
}